
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Droid Sans', sans-serif;
}

.container {
  width: 100%;
  margin: auto;
  background: #fcfcfc;
}
/*--BANNER STARTS HERE--*/

.main-banner {
    width: 100%;
    height: 200px;
    background-color: #C8FF00;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    text-align: center;
    padding-top: 10px;
}

.banner-img {
    border-radius: 5px;
    border-style: dashed;
    border-color: #8B4513;
}

/*--NAVIGATION BAR STARTS HERE--*/

.main-nav {
    width: 100%;
    height: 60px;
    background: #000;
}

.main-nav ul {
    list-style: none;
    padding: 10px;  
}

.main-nav ul li {
    width: 33%;
    float: left;
    text-align: center;
    margin: auto;
}

.main-nav ul li a {
    transition: .2s;
    font-size: 27px;
    text-decoration: none;
    border: 0px solid transparent;
    color: white;
    display: inline-block;
    padding: 2px 5px 3px 5px;
}

.main-nav ul li a:hover {
    border: 3px solid white;
    border-radius: 3px;
    border-style: dashed;
}

/*--MAIN TEXT STARTS HERE--*/

.main {
  width: 85%;
  margin: auto;
  border-style: solid;
  border-width: thick;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bold {
    font-weight: 700;
}

.main p {
    text-align: left;
    font-size: 25px;
    color: #000;
    margin: auto;
    width: 80%;
    padding-top: 110px;
    padding-bottom: 110px;
}

.main psite {
    text-align: right;
    font-style: italic;
    padding-left: 900px;
}    
 
.content {
    text-align: center;
    margin: auto;
}

.content p {
   font-size: 40px;
   margin: 30px 0px;
   text-shadow: 2px 2px #000000;
   font-family: 'Droid Sans';
}

.content img {
    width: 400px;
    height: 400px;
    padding-bottom: 20px;
}

.list-items {
    list-style-type: none;
}

.sec {
    width: 85%;
    border-style: solid;
    border-width: thick;
    margin:auto;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Droid Sans';
}

/*--FOOTER STARTS HERE--*/    
    
.footer {
  height: 110px;
  background: #000;
  clear: both;
}

.footer ul {
    list-style: none;
    padding-top: 10px;  
}

.footer ul li {
    width: 100%;
    float: right;
    text-align: center;
    margin: auto;
    color: #fff;
}
    
.footer ul li a {
    transition: .2s;
    text-decoration: none;
    display: inline-block;
}

.footer ul li a img {
   width: 10%;
}
 
.footer ul li a img:hover {
    background: white;
    border-radius: 20px;
}


/*--EXTRA CODE--

.table {
    margin:auto;
    font-size: 50px;
        }

.table th {
    border: solid;
    border-color: black;
    background: gray;
    text-decoration: bold;
    text-decoration: underline;
}

.table td {
    border: solid;
    border-color: black;
}

.nav {
  width: 960px;
  height: 50px;
  background: green;

.side {
  width: 300px;
  float: left;
  height: 500px;
  background: black;
}

.side img {
    width: 100%;
    height: 100%;
}

--*/